{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <h1>Все статьи</h1>
    {#  <p class="lead">My Blog to read.</p>#}
</div>

<div class="container">

    {% for a in articles %}
<!-- Item -->
        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url({% static 'main' %}); min-height: 15rem;">
                {% if a.image %}
              <img src="{{ a.image.url }}" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more">
              {% endif %}
                <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later">
                <i class="bx bx-bookmark"></i>
              </a>
            </div>
            <div class="col-sm-8 col-md-7">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <span class="fs-sm text-muted border-start ps-3 ms-3">{{ a.time_created }}</span>
                </div>
                <h3 class="h4">
                  <a href="{% url 'blog_article' a.slug %}">{{ a.title }}</a>
                </h3>
                <p class="lead">{{ a.content|truncatewords:50 }}</p>
                <hr class="my-4">
                <div class="d-flex align-items-center justify-content-between">
                </div>
                  <a href="{% url 'blog_article' a.slug %}" class="btn btn-primary btn-large">читать &raquo;</a>
                  {% if request.user.is_superuser or request.user.is_stuff %}
                  <a href="{% url 'blog_article_edit' a.slug %}" class="btn btn-primary btn-large">изменить &raquo;</a>
                  {% endif %}
                </div>
            </div>
          </div>
        </article>
{% endfor %}


</div>

{% endblock %}

